.d-inl-grid {
  display: inline-grid;
  grid-template-columns: 300px 150px 300px 100px;
  grid-template-rows: 100px 200px 300px;
}
.d-grid {
  display: grid;
  /* grid-template-rows: 100px 200px 300px; */
}

.four-fixed-px-colums {
  grid-template-columns: 300px 150px 300px 100px;
}

.six-fixed-px-colums {
  grid-template-columns: 40px 50px 30px 50px 60px 50px;
}

.two-fixed-em-colums {
  grid-template-columns: 20em 300px;
}

.six-fixed-rem-colums {
  grid-template-columns: 5rem 8rem 2rem 4rem 6rem 5rem;
}

/* html {
  font-size: 14px;
} */

.five-vmin-vmax-colums{
  grid-template-columns: 5vmin 5vmin 20vmax 5vmin 5vmin;
}

.four-vw-colums {
  grid-template-columns: 5vw 10vw 5vw 10vw;
}

.two-colums-mix {
  grid-template-columns: 50px 100%;
}

.auto-colums {
  grid-template-columns: 50px auto auto auto;
}

.fr-colums {
  grid-template-columns: 3fr 1fr;
}

.gap-grid {
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  /* gap: 30px 10px; */
  column-gap: 40px;
  row-gap: 5px;
}

.five-auto-colums {
  grid-template-columns: auto auto auto auto auto;
}

.repeat-layout{
  /* grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 100px); */
  grid-template-columns: repeat(2,  3fr 1fr);
  grid-template-rows: repeat(6, 50px);
}

.line-layout{
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(6, 50px);
}
.line-layout div:nth-child(1) {
  grid-column-start: -2;
  grid-column-end: -6;
  grid-row-start:-1;
  grid-row-end: -4;
}

.line-layout-play {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.line-layout-play div:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.line-layout-play div:nth-child(6) {
  grid-column-start: 1;
  grid-column-end: 4;
}
.line-layout-play div:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.line-name {
  grid-template-columns: [start-column] 1fr 2fr [logo] 1fr 1fr [end-column];
  grid-template-rows: repeat(2, 1fr);
}
.line-name div:nth-child(1) {
  grid-column-start:start-column;
  grid-column-end: logo;
}

.span-layout{
  grid-template-columns: [start-column] 1fr 2fr [logo] 1fr 1fr [end-column];
  grid-template-rows: repeat(2, 1fr);
}
.span-layout div:nth-child(1) {
  /* grid-column-start: start-column;
  grid-column-end: logo; */
  grid-column: start-column/logo;
  grid-row: 1/span 3;
}

.hw-layout {
  grid-template-columns: [start-column] 1fr 2fr [logo] 1fr 1fr  2fr 1fr [end-column];
}

.hw-layout div:nth-child(1) {
  /* grid-column: start-column/end-column; */
  grid-column: start-column/span 6;
}