.d-grid {
  display: grid;
}

/* justify-self+align-self = place-self
align-items + justify-items = place-items */
.align-self{
  grid-template: repeat(3, 100px)/1fr 1fr;
  /* align-items: start;
  justify-items: center; */
  place-items:  start center;
}
/* even - парні */
.align-self div:nth-child(even){
  /* justify-self: stretch;
  align-self: stretch; */
  place-self: stretch;
}
.align-self div:nth-child(1) {
  align-self: start;
}
.align-self div:nth-child(3) {
  justify-self: end;
  align-self: center;
  /* place-self: end center; */
}
.align-self div:nth-child(5) {
  /* justify-self: start;
  align-self: center; */
  place-self: start center;
}

/* Place-content */
.place-content{
  height: 400px;
  grid-template: 100px 100px 100px/100px 100px;
  /* align-content: space-between;
  justify-content: space-between; */
  place-content: space-between space-between;
}

/* min-max */
.min-max {
  grid-template-columns: 1fr max-content 1fr;
}